.hero {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background: no-repeat, center;
  background-size: cover;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Aldrich', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 82.8%;
  color: #FFFFFF; //color: #FFC700;
  margin-top: 20%;
}


@media (min-width: 320px) and (max-width: 1200px) {
  .hero {
    background-repeat: no-repeat;
    height: 50vh;
  }

  .heading {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hero {
    background-repeat: no-repeat;
  }
  .heading {
    font-size: 48px;
  }
}